<!--trend-->
<div class="trend wow zoomIn animated" data-wow-delay=".5s">
  <div class="container">
    <div class="trend-info">
      <section class="slider grid">
        <div class="flexslider trend-slider">
          <ul class="slides">
            <li>
              <div class="col-md-5 trend-left">
                <%= image_tag "t1.png" %>
              </div>
              <div class="col-md-7 trend-right">
                <h4>TOP 10 TRENDS <span>FOR YOU</span></h4>
                <h5>Flat 20% OFF</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus, justo ac volutpat vestibulum, dolor massa pharetra nunc, nec facilisis lectus nulla a tortor. Duis ultrices nunc a nisi malesuada suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam eu bibendum felis. Sed viverra dapibus tincidunt.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li>
              <div class="col-md-5 trend-left">
                <%= image_tag "t2.png" %>
              </div>
              <div class="col-md-7 trend-right">
                <h4>TOP 10 TRENDS <span>FOR YOU</span></h4>
                <h5>Flat 20% OFF</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus, justo ac volutpat vestibulum, dolor massa pharetra nunc, nec facilisis lectus nulla a tortor. Duis ultrices nunc a nisi malesuada suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam eu bibendum felis. Sed viverra dapibus tincidunt.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li>
              <div class="col-md-5 trend-left">
                <%= image_tag "t3.png" %>
              </div>
              <div class="col-md-7 trend-right">
                <h4>TOP 10 TRENDS <span>FOR YOU</span></h4>
                <h5>Flat 20% OFF</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus, justo ac volutpat vestibulum, dolor massa pharetra nunc, nec facilisis lectus nulla a tortor. Duis ultrices nunc a nisi malesuada suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam eu bibendum felis. Sed viverra dapibus tincidunt.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li>
              <div class="col-md-5 trend-left">
                <%= image_tag "t4.png" %>
              </div>
              <div class="col-md-7 trend-right">
                <h4>TOP 10 TRENDS <span>FOR YOU</span></h4>
                <h5>Flat 20% OFF</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus, justo ac volutpat vestibulum, dolor massa pharetra nunc, nec facilisis lectus nulla a tortor. Duis ultrices nunc a nisi malesuada suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam eu bibendum felis. Sed viverra dapibus tincidunt.</p>
              </div>
              <div class="clearfix"></div>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>
<!--//trend-->
