<div id="footer">
    <div class="container">
        <div class="box_footer">
            <h3>Thông tin chung</h3>
            <ul>
                <li><a href="http://www.hanoicomputer.vn/gioi-thieu">Giới thiệu HANOICOMPUTER</a></li>
                <li><a href="http://www.hanoicomputer.vn/tin-tuyen-dung/ac3.html">Tuyển dụng</a></li>
                <li><a href="http://www.hanoicomputer.vn/tin-tuc">Tin tức</a></li>
                <li><a href="http://www.hanoicomputer.vn/gui-y-kien" rel="nofollow">Ý kiến khách hàng</a></li>
                <li><a href="http://www.hanoicomputer.vn/huong-dan-khach-hang/lien-he-hop-tac/a391.html" rel="nofollow">Liên hệ, Hợp tác</a></li>
            </ul>
        </div>
        <div class="box_footer">
            <h3>Chính sách chung</h3>
            <ul>
                <li><a href="http://www.hanoicomputer.vn/huong-dan-khach-hang/chinh-sach-quy-dinh-chung/a575.html" rel="nofollow">Chính sách, quy định chung</a></li>
                <li><a href="http://www.hanoicomputer.vn/huong-dan-khach-hang/chinh-sach-van-chuyen-hang/a7.html" rel="nofollow">Chính sách vận chuyển</a></li>
                <li><a href="http://www.hanoicomputer.vn/bao-hanh/chinh-sach-bao-hanh-san-pham/a8.html" rel="nofollow">Chính sách bảo hành</a></li>
                <li><a href="http://www.hanoicomputer.vn/huong-dan-khach-hang/quy-dinh-ve-doi-tra-hang/a574.html" rel="nofollow">Chính sách đổi, trả lại hàng</a></li>
                <li><a href="http://www.hanoicomputer.vn/dich-vu/chinh-sach-cho-doanh-nghiep/a651.html" rel="nofollow">Chính sách cho doanh nghiệp</a> </li>
                <li><a href="http://www.hanoicomputer.vn/giai-phap-game-net/giai-phap-games-net-chuyen-nghiep-toi-uu-nhat-hien-nay-hanoicomputer/a233.html" rel="nofollow">Chính sách GameNet</a> </li>
                <li><a href="http://www.hanoicomputer.vn/huong-dan-khach-hang/bao-mat-thong-tin-khach-hang/a563.html" rel="nofollow">Bảo mật thông tin khách hàng</a> </li>
            </ul>
        </div>
        <div class="box_footer">
            <h3>Thông tin khuyến mãi</h3>
            <ul>
                <li><a href="http://www.hanoicomputer.vn/san-pham-ban-chay">Sản phẩm bán chạy</a></li>
                <li><a href="http://www.hanoicomputer.vn/san-pham-xa-hang">Sản phẩm khuyến mãi</a> </li>
                <li><a href="http://www.hanoicomputer.vn/san-pham-thanh-ly/c165.html">Hàng thanh lý</a> </li>
                <li><a href="http://www.online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=5024" target="_blank"><img src="HANOICOMPUTER%20-%20HI-END%20COMPUTER%20WORLD%20NO1%20VIETNAM_files/dathongbao.png" alt="Đắng ký bộ công thương"></a></li>
            </ul>
        </div>
        <div class="box_footer">
            <h3>Hỗ trợ khách hàng</h3>
            <ul>
              <li><a href="http://www.hanoicomputer.vn/huong-dan-khach-hang/huong-dan-mua-hang-truc-tuyen-qua-website-hanoicomputervn/a227.html" rel="nofollow">Mua hàng trực tuyến</a></li>
                <li><a href="http://www.hanoicomputer.vn/huong-dan-khach-hang/huong-dan-thanh-toan/a650.html" rel="nofollow">Hướng dẫn thanh toán</a></li>
              <li><a href="http://www.hanoicomputer.vn/huong-dan-khach-hang/mua-hang-tra-gop-tai-hnc/a67.html" rel="nofollow">Hướng dẫn mua hàng trả góp</a></li>
                <li><a href="http://www.hanoicomputer.vn/lien-he" rel="nofollow">Gửi yêu cầu hỗ trợ</a></li>
            </ul>
        </div>
        <div class="box_footer">
            <h3>Thanh toán an toàn</h3>
            <a href="" class="bg icon_thanhtoanantoan"></a>
            <h3>Đăng ký nhận bản tin</h3>
            <div id="news_letter" class="bg">
                <input id="email_newsletter" placeholder="Nhập email nhận tin KM" type="text">
                <a href="javascript:subscribe_newsletter()">Gửi</a>
            </div>
        </div>
        <div class="clear"></div>
    </div><!--container-->
</div><!--footer-->