<div id="user_side_header">
  <a href="/" id="logo">
    <%= image_tag("logo.png") %>
  </a>
  <div id="banner_header">
    <%= image_tag("banner_b73dfe25.jpg", height: "87", width: "690") %>
  </div>
<!--   <div id="header_right">
      <div id="login_header">
              <i class="bg icon_user"></i><a href="http://www.hanoicomputer.vn/dang-ky" rel="nofollow">Đăng ký</a> | <a href="http://www.hanoicomputer.vn/dang-nhap" rel="nofollow">Đăng nhập</a>
      </div>
  </div> --><!--header_right-->
</div><!--header-->