<div id="nav_horizontal" class="">
    <div id="search" class="bg">
        <form method="get" action="/tim" enctype="multipart/form-data">
            <select name="scat_id" id="sel_cat" style="display: none;">
              <option value="0" selected="selected">Tất cả</option>
              
                <option value="159">Laptop, Phụ kiện</option>
              
                <option value="325">PC, Workstations</option>
              
                <option value="6">Linh kiện máy tính</option>
              
                <option value="304">Games Net - Esport</option>
              
                <option value="105">Gaming Gear, Cooling</option>
              
                <option value="18">TB lưu trữ - Phụ kiện</option>
              
                <option value="41">Thiết bị nghe nhìn</option>
              
                <option value="12">Thiết bị VP, Mạng</option>
              
                <option value="260">Camera quan sát</option>
              
                <option value="165">Sản phẩm thanh lý</option>
              
            </select>
            <div id="ul_cat" class="ul">
                <div class="selected"><span>Tất cả</span> <i class="bg icon_drop"></i> </div>
                <ul style="display: none;">
                    <li title="0">Tất cả</li>
                    
                    <li title="159">Laptop, Phụ kiện</li>
                    
                    <li title="325">PC, Workstations</li>
                    
                    <li title="6">Linh kiện máy tính</li>
                    
                    <li title="304">Games Net - Esport</li>
                    
                    <li title="105">Gaming Gear, Cooling</li>
                    
                    <li title="18">TB lưu trữ - Phụ kiện</li>
                    
                    <li title="41">Thiết bị nghe nhìn</li>
                    
                    <li title="12">Thiết bị VP, Mạng</li>
                    
                    <li title="260">Camera quan sát</li>
                    
                    <li title="165">Sản phẩm thanh lý</li>
                    
                </ul>
            </div>
            <input class="text" id="text_search" name="q" placeholder="Gõ từ khóa tìm kiếm..." autocomplete="off" style="width: 356px;" type="text">
            <input id="submit_search" value="Tìm kiếm" type="submit">
        </form>
        <div class="autocomplete-suggestions" style="display: none;"></div>
    </div><!--search-->
</div>